body {
    margin: 50px 200px 50px 200px;
    padding: 5px;
    background-color: rgba(70, 238, 241, 0.46);
    color: black;
}

a {

    text-decoration: none;
    color: #aa4a6f
}

input[type=text], input[type=password], input[type=email] {
    border-radius: 8px;
    border: none;
    height: 35px;
    width: 230px;
    box-shadow: 0px 0px 0px #999;
    margin-bottom: 5px;
    margin-left: 5px;
}

input[placeholder] {
    padding-left: 10px;
    font-size: large;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    opacity: 50;
}

select {
    border-radius: 8px;
    height: 30px;
    width: 239px;
    box-shadow: 0px 0px 0px #999;
    margin-bottom: 5px;
    margin-left: 5px;
    border: none;
}

option {
    padding-left: 10px;
}

input[type=submit] {
    background: #f8b84b;
    border: none;
    color: white;
    font-size: x-large;

    margin-left: 8px;
    padding-left: 11px;
    padding-right: 11px;
    width: 100px;
}

.std {
    position: absolute;
    top: 20%;
    left: 40%;
    /*height:185px;*/
    width: 250px;
    box-shadow: 0px 0px 10px #999;
    border-radius: 8px;
    margin-top: 20px;
    padding: 8px;
    background-color: #d9f8f6;

}

.img {
    height: 100%;
    width: 15%;
    border-right: 1px solid #eee;
    float: left;
}

.status {
    height: 100%;
    width: 79%;
    float: right;

}

.std_image {
    height: 80px;
    width: 100px;
}

.std_image img {
    margin-bottom: 5px;
    text-align: center;

}

.std_name {
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

hr {
    border: 1px solid #eee;
}